<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0A4EAAE8-AC68-486C-BCC7-7BA4B11CDC48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F02793BC-7BCC-40F6-B1F6-9BA453ACF5CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CC9D1A8F-3498-4BBB-BE8C-E2C52EF9848A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A4EAAE8-AC68-486C-BCC7-7BA4B11CDC48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Greg Smith</string>
	<key>description</key>
	<string>Opens a terminal window and ssh's into ScreamingMimi</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SSH Screaming Mimi</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Logging in...</string>
				<key>title</key>
				<string>ScreamingMimi</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F02793BC-7BCC-40F6-B1F6-9BA453ACF5CF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>qlocal</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>0A4EAAE8-AC68-486C-BCC7-7BA4B11CDC48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>qlocal</string>
				<key>subtext</key>
				<string>Go go go!</string>
				<key>text</key>
				<string>SSH into ScreamingMimi</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC9D1A8F-3498-4BBB-BE8C-E2C52EF9848A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A4EAAE8-AC68-486C-BCC7-7BA4B11CDC48</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CC9D1A8F-3498-4BBB-BE8C-E2C52EF9848A</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>F02793BC-7BCC-40F6-B1F6-9BA453ACF5CF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
