<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ejectBlacklist</key>
	<array>
		<string>drive2</string>
		<string>DRIVE2</string>
		<string>Drive2</string>
		<string>gregsmith@192.168.100.8</string>
		<string>Macintosh HD</string>
		<string>MobileBackups</string>
	</array>
	<key>ejectKeywordEnabled</key>
	<true/>
	<key>ejectType</key>
	<integer>2</integer>
	<key>ejectallConfirm</key>
	<true/>
	<key>ejectallKeywordEnabled</key>
	<true/>
	<key>emptytrashKeyword</key>
	<string>empty</string>
	<key>logoutKeywordEnabled</key>
	<false/>
	<key>quitallConfirm</key>
	<true/>
	<key>restartConfirm</key>
	<true/>
	<key>screensaverKeywordEnabled</key>
	<false/>
	<key>shutdownConfirm</key>
	<true/>
	<key>sleepKeywordEnabled</key>
	<false/>
</dict>
</plist>
